// MEDIA QUERIES *******************************************************************************************
// TABLET HOME *********************************************************************************************

.heading {
  text-align: center;
  margin: 40px 25px 20px 25px;
}

.topnav {
  ul {
    max-width: 70%;
    margin: auto;
  }
}

.restaurant {
  width: 70%;
}

.header__restaurant {
  img {
    height: 500px;
    margin-bottom: -5px;
  }
}

.menu {
  max-width: 70%;
  margin: -100px auto auto auto;
}

.menulist {
  // margin-right: 5%;

  &__li {
    margin: 0 20px 20px 30px;
  }
}